/* 전국 확진자 현황 API */
.dataApi-wrap{
    width: 100%;
    border: 1px solid #a393ac;
    border-radius: 10px;
    margin-left: 0px !important;
    margin-top: 50px !important;
    align-items: center;
    padding: 30px;
}
.dataApi-title{
    align-self: center;    
    position: relative;
}

.dataApi-title>div{
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    padding-bottom: 30px;
}

.dataApi-today{
    width: 20%;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    justify-content: center;        
}
.dataApi-today>div {
    width: 100%; background-color: #D4C3DE;
    border-radius: 10px;
    font-size: 1.5em;
    padding: 5% 0px;
    margin: 20px auto;
    margin-top: 10px;
}
.dataApi-chart{
    width: 100%;
}

.dataApi-chart>ul{
    clear: both;
    list-style-type: none;
    padding: 0px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
}

.dataApi-chart li{
    margin: 0px 10px;
    height: 200px;
    display: flex;
    width: 10%;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
}
.dataApi-chart span.chart-col-num{
    font-size: 0.8em;

}

.dataApi-chart div.chart-col-rate{
    display: block;
    width: 80%;
    background-color: #D4C3DE;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-self: flex-end;
    font-size: 0.6em;
    height: 0px;
    transition: height 2s;
}
.dataApi-chart div.chart-col-rate:hover{
    background-color: #a393ac;
}


.dataApi-chart div.chart-col-name{
    width: 100%;
    display: block;
    text-align: center;
    
    align-self: flex-end;
    font-size: 0.8em;
    margin-top: 10px;
    font-weight: 700;
}

/*change버튼*/
#changeMode{
    width: 80px;    
    font-size: 0.6em;
    margin-left: 20px;
    font-weight: 900;
}
/* 설문조사 부분 */
.card{
    margin-top: 30px;
}

.card-header{
    position: relative;
    text-align: center;
    cursor: pointer;
}
.card-header>span{
    position: absolute;
    top: 10px; right: 10px;
}
.card-body{
    display: none;
}
